<!--
Start About Section
==================================== -->
<section class="about-2 section" id="about">
	<div class="container">
		<div class="row justify-content-center">
			<!-- section title -->
			<div class="col-lg-6">
				<div class="title text-center">
					<h2>We Are Siqhamo Media</h2>
					<p>a dynamic Branding and Marketing company dedicated to amplifying your brand’s impact. We offer a range of services, including strategic brand development, creative graphic design, digital marketing, and content creation to engage your audience. Our expert web development service delivers responsive, user-centric websites tailored to your vision. Additionally, we host Kasi Comedy Night events, showcasing local stand-up comedians for unforgettable evenings of authentic township humor and connection. Let Siqhamo Media elevate your brand and entertain your audience.</p>
					<div class="border"></div>
				</div>
			</div>
			<!-- /section title -->
		</div>

		<div class="row">

			<div class="col-md-6 mb-4 mb-md-0">
				<img loading="lazy" src="images/about/about-2.png" class="img-fluid" alt="">
			</div>
			<div class="col-md-6">
				<ul class="checklist">
					<li><strong>Web Development - </strong>Crafting strategic brand identities to enhance recognition and impact.
					<li><strong>Graphic Design - </strong>Creating visually compelling designs for marketing materials and brand assets.</li>
					<li><strong>Digital Marketing - </strong>Developing and executing online marketing strategies to engage and grow audiences.</li>
					<li><strong>Content Creation - </strong>Producing engaging content, including storytelling and multimedia, to connect with target audiences.</li>
					<li><strong>Web Development - </strong> Designing and building responsive, user-focused websites tailored to client needs.</li>
					<li><strong>Event Hosting: Kasi Comedy Night - </strong>Organizing live comedy events featuring local stand-up comedians, delivering authentic township humor.</li>
				</ul>
				<a href="about.html" class="btn btn-main mt-20">More about Siqhamo</a>
			</div>
		</div> <!-- End row -->
	</div> <!-- End container -->
</section> <!-- End section -->