<!--
Start Blog Section
=========================================== -->
<section class="blog" id="blog">
	<div class="container">
		<div class="row justify-content-center">
			<!-- section title -->
			<div class="col-xl-6 col-lg-8">
				<div class="title text-center ">
					<h2> Latest <span class="color">Posts</span></h2>
					<div class="border"></div>
					<p>Dive into the Siqhamo Media Blog, your go-to source for insights, inspiration, and updates! Explore tips on branding, digital marketing, and web development, alongside behind-the-scenes looks at our vibrant Kasi Comedy Night events. Our blog delivers fresh, engaging content that captures the pulse of creativity and township culture, keeping you informed and inspired.</p>
				</div>
			</div>
			<!-- /section title -->
		</div>

		<div class="row">
			<!-- single blog post -->
			<article class="col-lg-4 col-md-6">
				<div class="post-item">
					<div class="media-wrapper">
						<img loading="lazy" src="images/flyers/Comedy Night 28-03-2025.jpg" alt="Kasi Comedy Night 28/03/2025" class="img-fluid">
					</div>

					<div class="content">
						<h3><a href="single-post.html"></a></h3>
						<label>Comedy Night 28 March 2025</label>
						<p>Kasi Comedy night hosted at Pisto's Lounge...</p>
						<a class="btn btn-main" href="single-post.html">Read more</a>
					</div>
				</div>
			</article>
			<!-- /single blog post -->

			<!-- single blog post -->
			<article class="col-lg-4 col-md-6">
				<div class="post-item">
					<div class="media-wrapper">
						<img loading="lazy" src="images/flyers/Comedy Night 31-10-2024.jpg" alt="Kasi Comedy Night 31/10/2024"" class="img-fluid">
					</div>

					<div class="content">
						<label>Comedy Night 31 Oct 2024</label>
						<p>Kasi Comedy night hosted at Jordan's kwaLanga...</p>
						<a class="btn btn-main" href="single-post.html">Read more</a>
					</div>
				</div>
			</article>
			<!-- end single blog post -->

			<!-- single blog post -->
			<article class="col-lg-4 col-md-6">
				<div class="post-item">
					<div class="media-wrapper">
						<img loading="lazy" src="images/flyers/Comedy Night 05-09-2024.jpg" alt="Kasi Comedy Night 05/09/2024" class="img-fluid">
					</div>

					<div class="content">
						<label>Comedy Night 05 Oct 2024</label>
						<p>Kasi Comedy night hosted at Jordan's kwaLanga...</p>
						<a class="btn btn-main" href="single-post.html">Read more</a>
					</div>
				</div>
			</article>
			<!-- end single blog post -->
		</div> <!-- end row -->
	</div> <!-- end container -->
</section> <!-- end section -->
