<div class="hero-slider">
	<div class="slider-item th-fullpage hero-area" style="background-image: url(images/slider/slider-bg-8.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">Siqhamo Media</h1>
					<p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">
						Siqhamo Media Branding and Marketing Agency, <br >
						we specialize in crafting digital experiences that captivate and connect.<br />
					</p>					
					<a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn btn-main"
						href="contact.html">Contact Us</a>
				</div>
			</div>
		</div>
	</div>
	<div class="slider-item th-fullpage hero-area" style="background-image: url(images/slider/slider-bg-10.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1 data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".1">Kasi Comedy <br> Night</h1>
					<p data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".5">Kasi Comedy Night brings the heart of township humor to life <br /> with local stand-up comedians delivering side-splitting performances.</p>
					<a data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".8" class="btn btn-main" href="../../single-post.html">Buy Tickets</a>
				</div>
			</div>
		</div>
	</div>
	<div class="slider-item th-fullpage hero-area" style="background-image: url(images/slider/slider-bg-7.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1 data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".1">Web <br> Development</h1>
					<p data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".5">
						Siqhamo Media’s Web Development services craft dynamic, user-focused websites that elevate your brand.
						<br /> Combining sleek design, seamless functionality,
						<br /> and cutting-edge technology, we build responsive, 
						<br /> engaging digital platforms tailored to your business needs, 
						<br /> ensuring a standout online presence that captivates and converts.
					</p>
					<a data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".8" class="btn btn-main"
						href="../../contact.html">Contact Us</a>
				</div>
			</div>
		</div>
	</div>
</div>
