<section class="service-2 section">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-lg-6">
        <!-- section title -->
        <div class="title text-center">
          <h2>What Do We Offer</h2>
          <p>Siqhamo Media, we deliver a vibrant mix of branding and marketing services to elevate your vision.
			<br /> From crafting bold brand identities and stunning graphic designs to driving engagement through digital marketing and compelling content creation,
			<br /> we’ve got you covered. Our expert web development builds seamless, user-focused websites,
			<br /> while our Kasi Comedy Night events bring authentic township humor to life with local stand-up comedians.
			<br /> Let’s create impactful experiences that resonate and connect.</p>
			<div class="border"></div>
        </div>
        <!-- /section title -->
      </div>
    </div>
    <div class="row">

      <div class="col-md-4 text-center d-none d-md-block">
        <img loading="lazy" src="../../images/about/about-us.jpg" class="img-fluid inline-block" alt="">
      </div>
      <div class="col-md-8">
        <div class="row text-center">
          <div class="col-md-6 col-sm-6">
            <div class="service-item">
              <i class="tf-ion-android-hangout"></i>
              <h4>Kasi Comedy</h4>
              <p>Kasi Comedy delivers vibrant, relatable humor rooted in South African township culture.</p>
            </div>
          </div><!-- END COL -->
          <div class="col-md-6 col-sm-6">
            <div class="service-item">
              <i class="tf-ion-ios-briefcase-outline"></i>
              <h4>Web Development</h4>
              <p>Web Development services craft dynamic, user-focused websites that elevate your brand.</p>
            </div>
          </div><!-- END COL -->
        </div>
      </div>
    </div> <!-- End row -->
  </div> <!-- End container -->
</section> <!-- End section -->