<!-- Start Our Team
		=========================================== -->
<section class="team" id="team">
	<div class="container">
		<div class="row justify-content-center">
			<!-- section title -->
			<div class="col-xl-6 col-lg-8">
				<div class="title text-center ">
					<h2>Our Team</h2>
					<div class="border"></div>
				</div>
			</div>
			<!-- /section title -->
		</div>
		<div class="row">
			<!-- team member -->
			<div class="col-lg-4 col-md-6">
				<div class="team-member text-center">
					<div class="member-photo">
						<!-- member photo -->
						<img loading="lazy" class="img-fluid" src="images/team/Kholie Sompaza.jpg" alt="Kholie Sompaza">
						<!-- /member photo -->

						<!-- member social profile -->
						<div class="mask">
							<ul class="clearfix">
								<li><a href="https://www.facebook.com/kholie.sompoza"><i class="tf-ion-social-facebook"></i></a></li>
								<li><a href="https://www.instagram.com/kholiesto/"><i class="tf-ion-social-instagram"></i></a></li>
							</ul>
						</div>
						<!-- /member social profile -->
					</div>

					<!-- member name & designation -->
					<div class="member-content">
						<h3>Kholie Sompaza</h3>
						<span>CEO</span>
					</div>
					<!-- /member name & designation -->

				</div>
			</div>
			<!-- end team member -->

			<!-- team member -->
			<div class="col-lg-4 col-md-6">
				<div class="team-member text-center">
					<div class="member-photo">
						<!-- member photo -->
						<img loading="lazy" class="img-fluid" src="images/team/Khonza Somagaca.jpg" alt="Khonza Somagaca">
						<!-- /member photo -->

						<!-- member social profile -->
						<div class="mask">
							<ul class="clearfix">
								<li><a href="https://www.facebook.com/khonza.somagaca"><i class="tf-ion-social-facebook"></i></a></li>
								<li><a href="https://www.instagram.com/khonzasomag"><i class="tf-ion-social-instagram"></i></a></li>
							</ul>
						</div>
						<!-- /member social profile -->
					</div>

					<!-- member name & designation -->
					<div class="member-content">
						<h3>Khonza Somagaca</h3>
						<span>Web Developer</span>
					</div>
					<!-- /member name & designation -->
				</div>
			</div>
			<!-- end team member -->

			<!-- team member -->
			<div class="col-lg-4 col-md-6">
				<div class="team-member text-center">
					<div class="member-photo">
						<!-- member photo -->
						<img loading="lazy" class="img-fluid" src="images/team/Kristi Yespaza.jpg" alt="Kritsi Yespaza">
						<!-- /member photo -->

						<!-- member social profile -->
						<div class="mask">
							<ul class="clearfix">
								<li><a href="https://themefisher.com/"><i class="tf-ion-social-facebook"></i></a></li>
								<li><a href="https://themefisher.com/"><i class="tf-ion-social-twitter"></i></a></li>
							</ul>
						</div>
						<!-- /member social profile -->
					</div>

					<!-- member name & designation -->
					<div class="member-content">
						<h3>Kritsi Yespaza</h3>
						<span>Head Of Management</span>
					</div>
					<!-- /member name & designation -->

				</div>
			</div>
			<!-- end team member -->
		</div> <!-- End row -->
	</div> <!-- End container -->
</section> <!-- End section -->